<form [formGroup]="hotelForm" class="max-w-md mx-auto">
    <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre del Hotel:</label>
        <input type="text" id="nombre" formControlName="name" class="w-full p-2 border rounded">
    </div>

    <div class="mb-4">
        <label for="ciudad" class="block text-gray-700 text-sm font-bold mb-2">Ciudad:</label>
        <input type="text" id="ciudad" formControlName="city" class="w-full p-2 border rounded">
    </div>

    <div class="mb-4">  
        <label class="flex items-center text-gray-700 text-sm font-bold">
            <input type="checkbox" formControlName="enable" class="mr-2"> Habilitar
        </label>
    </div>

    <div class="mb-4">
        <button type="button" (click)="validateAction()" [disabled]="hotelForm.invalid" class="bg-blue-500 text-white p-2 rounded">Guardar</button>
    </div>
</form>