.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 860px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}